*.xml
.idea/
*.idea
*.iml

server/.idea/
/build/
server//build/
.pytest_cache
server/.pytest_cache
*.pyc
server/*.pyc
**/_pycache_/
server/**/_pycache_/
_pycache_/
server/_pycache_/
 __pycache__/
 server/ __pycache__/
.env
.xlsx
testes/
*.pyc
*/_pycache_/
_pycache_/
venv/
server/venv
server/venv/
/venv/
/.venv/