
.mainWordcloud{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionCloud{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 15px;
    font-family: var(--font-robo-flex);
}

.divCloud{
    display: flex;
    border-radius: 5px;
    background-color:var(--varWhite);
    padding: 15px;
}

.pCloud {
    color: gray;
}
