.pageHome{
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    gap: 64px;
    font-family: var(--font-robo-flex);
}

.mainHome{
    grid-row-start: 2;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px; 
    font-family: var(--font-robo-flex);
}

.userHome{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid purple;
    padding: 15px;
    color: var(--blue);
}

.navHome{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.dashHome{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 900px;
    border-radius: 5px;
    background-color: gray;
}

.infodash{
    border: 1px solid purple;
    padding: 15px;
}

.footerHome{
    grid-row-start: 3;
}