.mainHome{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 100px; 
    font-family: var(--font-robo-flex);
}

.userHome{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*border: 1px solid purple;*/
    padding: 15px;
    color: var(--blue);
}

.navHome{
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.dashHome{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 800px;

}


.tableDash {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
}

.tableDash th, .tableDash td {
    border: 1px solid var(--varGray);
    padding: 8px;
    background-color: var(--white);
    color:black;
}

.tableDash th {
    background-color: var(--varGray);
    color: white;

}