

.header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 50px;
 border: 1px solid red;
 background-color:var(--blue);
}

.nav{
 display: flex;
 flex-direction: row;
 gap: 50px;
 border: 1px blue solid;

}