.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color:var(--blue);
    font-family: var(--font-robo-flex);
}

.typeName{
    font-family: var(--font-jose-sans);
}

.nav{
    display: flex;
    flex-direction: row;
    gap: 50px;
}